<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poiret+One&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet"> 

<div id="homepart1">
<div id="title"> Kibin</div>
<hr id="small-hr">
<div id="motto">We are busy working on something awesome.
    <br>
    <div id="typewriter">
        


<h1 style="color: black;">
        <a href="" class="typewrite" data-period="2000" data-type='[ "I am a Owner.", "I am a Designer.", "I am a Developer." ]'>
          <span class="wrap"></span>
        </a>
      </h1>
    </div>
    <button mat-flat-button id="login">LOGIN</button>
</div>

    
</div>
<div id= "homepart2">

</div>
