<section class="top_wrap" >
  <div class="description">
      <h1 class="heading">
          Kibin
      </h1>
      <p class="text" >
        A tool that assists you as an individual and your team to effectively organize work and manage
        projects and tasks.
      </p>
  </div>
 </section>
 <mat-card class="card">
  <section class="gitlab" >
 <img class="logo" src="assets/images/gitlab-icon-rgb.png" >
 <button mat-raised-button color="primary" class="button" (click)="login()">Login With Gitlab</button>
 </section>
 </mat-card>